/* UNIVERSAL CONTENT */
* { box-sizing: border-box; }
html { height: 100%; } 
body { margin: 0px; margin-top: 20px!important; font-family: 'Orbitron', sans-serif!important; font-weight: 400; padding-top: 15px; position: relative; } 
#layer { margin-top: 10px; padding-bottom: 40px; padding-top: 35px; }
#hr1 { margin-left: 30px; margin-right: 30px; }
hr { background-color: rgb(71, 181, 245)!important; } 
h2 { margin-top: 0; font-size: 30px!important; }
.aboutLabel { padding-top: 20px; }
.testLabel { padding-bottom: 15px; }
h3 { padding-top: 10px; font-size: 20px!important; }
h4 { font-size: 30px!important; }
h5 { font-family: 'Nanum Gothic', sans-serif; padding-top: 15px; font-size: 20px!important; text-decoration: underline; text-underline-position: under; }
button { font-size: 15px; font-weight: lighter; margin-top: 5px!important; border-radius: 15%!important; background: black; color: white; } 
#button { text-align: center; margin-top: 0; margin-bottom: 20px; }
.helpdeskBtn1 { border: none; border-radius: 5px!important; padding: 10px; margin-top: 10px!important; background-color: rgb(71, 181, 245)!important; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4); }
.helpdeskBtn2 { border: none; border-radius: 5px!important; padding: 10px; margin-top: 25px!important; margin-bottom: 25px; background-color: rgb(72, 181, 71);
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4); }
.helpdeskBtn3 { border: none; border-radius: 5px!important; padding: 10px; margin-bottom: 45px; background-color: rgb(71, 181, 245)!important; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4); }
.helpdeskBtn1:hover { transform: scale(1.1); }
.helpdeskBtn2:hover { transform: scale(1.1); } 
.helpdeskBtn3:hover { transform: scale(1.1); }

/* NAV CONTENT */
nav { background: rgb(71, 181, 245)!important; box-shadow: 5px 5px 1px 5px rgb(72, 181, 71); }
nav li:hover { transform: scale(1.1); }
.fas { color: white; font-size: 30px; text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); } 
#mainNavbar .navbar-brand { font-size: 30px; color: white; margin-left: 10px; text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); }
#mainNavbar .nav-link { color: white; font-size: 20px; font-family: 'Nanum Gothic', sans-serif; text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4); }
.navbar.scrolled { background: black; opacity: .5; }

/* JUMBOTRON CONTENT */
#jumboImg { background: url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80');
	height: 550px; width: 100%; background-repeat: no-repeat; background-size: cover; border-radius: 5px; margin: 0 auto; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4); }
#jumboText { color: white; text-shadow: 2px 2px 5px black; }
#jumboText2 { color: white; text-shadow: 2px 2px 5px black; font-family: 'Nanum Gothic', sans-serif; }

/* HOMEPAGE MAIN CONTENT */
#layer3 { height: auto; width: auto; padding-bottom: 20px; padding-top: 20px; margin: 0 30px; }
.content { text-align: justify; padding: 0px 20px 30px 20px; font-family: 'Nanum Gothic', sans-serif; }
.content2 { text-align: justify; padding: 0px 20px 0px 20px; font-family: 'Nanum Gothic', sans-serif; }
.content3 {	text-align: justify; padding: 0px 20px 20px 20px; font-family: 'Nanum Gothic', sans-serif; }
#testimonials { display: flex; flex-direction: row; justify-content: space-evenly; flex-wrap: wrap; padding-bottom: 20px; } 
.test { background: rgb(255,255,255); border-radius: 5px; height: auto; width: 290px; margin-top: 0; margin-bottom: 20px; padding: 20px 20px 20px 20px; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4); }
.test-border { border: 1.5px solid rgb(72, 181, 71); border-radius: 5px; padding-top: 10px; }
.review { font-size: 15px; padding: 0px 10px 5px 10px; font-family: 'Nanum Gothic', sans-serif; }
#servicesFeat { height: auto; width: auto; padding-bottom: 20px; padding-top: 20px; margin: 0px 10px 10px 10px; }
.offer { padding: 20px; }
.offer a { color: black; text-decoration: none; }
.offer a:hover { text-decoration: none; color: black; }
.offer:hover { transform: scale(1.1); }
.offer ul { font-family: 'Nanum Gothic', sans-serif; text-align: left; }
#servicesOffered { display: flex; justify-content: space-around; }

/* SERVICES PAGE CONTENT */
.layer4 { background: white; height: auto; width: auto; padding-bottom: 10px;padding-top: 10px; margin: 10px 30px; display: flex; }
.services { font-size: 30px!important; text-align: left; }
.serviceIcon { display: flex; align-items: center; margin-right: 20px; margin-bottom: 20px;}

/* CONTACT PAGE CONTENT */
section { text-align: center; padding-top: 100px; font-family: 'Nanum Gothic', sans-serif; } 
form { margin-left: auto; margin-right: auto; }
p { color: black; font-size: 18px; }
#email { margin-top: 10px; }
#textarea { margin-top: 10px; }
#description-input { height: 200px; font-family: sans-serif; font-size: 82%; overflow: scroll; }
#contactBackground { background-color: #DCDCDC; }
#layer2 { background: white; width: 70%; padding-bottom: 20px; padding-top: 20px; border-radius: 10px; margin-top: 15px; margin-bottom: 55px; box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.4); }
#layer5 { margin-top: 15px; padding-bottom: 40px; padding-top: 35px; }

/* FOOTER CONTENT */
.footer { padding: 10px 15px; position: absolute; bottom: 0; width: 100%; color: white; background: rgba(72, 181, 71); }
#footerContent { display: flex; justify-content: space-between; }
.contactFooter { position: fixed!important; bottom: 0; width: 100%; padding: 10px 15px; color: white; background: rgba(72, 181, 71); }
footer a { text-decoration: none; color: white; }
footer a:hover { text-decoration: none; color: purple; }
#thankyouFooter { position: fixed; }

/* THANK YOU PAGE CONTENT */ 
#thankyou { margin: 70px 20px 0px 20px; text-align: center; font-family: 'Nanum Gothic', sans-serif;}
#thankyou2 { margin: 40px 20px; text-align: center; font-size: 20px!important; font-family: 'Nanum Gothic', sans-serif;}
#smiley { display: block; margin: 40px auto; }

@media screen and (min-width: 320px) and (max-width: 374px) {
	#mainNavbar .navbar-brand { font-size: 22px; }
	.navbar-toggler-icon { font-size: 12px; } 
	.nav-link { font-size: 14px!important; }
	h1 { font-size: 30px!important; } 
	h2 { font-size: 25px!important; }
	.lead { font-size: 16px!important; }
	#layer2 { width: 100%; }
	#layer3 { width: auto; margin-right: 12px; margin-left: 12px; margin-bottom: 30px; }
	.layer4 { flex-direction: column; }
	.serviceIcon { justify-content: center; margin-right: 0px; }
	.services { text-align: center; }
	#jumboImg { height: 350px; width: auto; margin-left: 12px; margin-right: 12px; }
	#testimonials { flex-wrap: wrap; }
	.test { height: auto; width: 400px; margin-top: 0px; margin-left: auto; margin-right: auto; margin-bottom: 30px; }
	#servicesOffered { flex-wrap: wrap; }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
	#mainNavbar .navbar-brand { font-size: 22px; }
	.navbar-toggler-icon { font-size: 12px; } 
	.nav-link { font-size: 14px!important; } 
	h1 { font-size: 30px!important; } 
	h2 { font-size: 25px!important; } 
	.lead { font-size: 16px!important; }
	#layer2 { width: 100%; }
	#layer3 { width: auto; margin-right: 12px; margin-left: 12px; margin-bottom: 30px; }
	.layer4 { flex-direction: column; }
	.serviceIcon { justify-content: center; margin-right: 0px;}
	.services { text-align: center; }
	#jumboImg { height: 350px; width: auto; margin-left: 12px; margin-right: 12px; }
	#testimonials { flex-wrap: wrap; }
	.test { height: auto; width: 400px; margin-top: 0px; margin-left: auto; margin-right: auto; margin-bottom: 30px; }
	#servicesOffered { flex-wrap: wrap; }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	#mainNavbar .navbar-brand { font-size: 25px; }
	.navbar-toggler-icon { font-size: 12px; }
	.nav-link { font-size: 18px!important; }
	h1 { font-size: 40px!important; } 
	h2 { font-size: 30px!important; } 
	.lead { font-size: 20px!important; }
	#layer2 { width: 100%; }
	#layer3 { margin-right: 12px; margin-left: 12px; margin-bottom: 30px; }
	#jumboImg { height: 350px; margin-left: 12px; margin-right: 12px; } 
	#testimonials { flex-wrap: wrap; }
	.test { height: auto; width: 300px; margin-top: 0px; margin-left: auto; margin-right: auto; margin-bottom: 30px; }
	#servicesOffered { flex-wrap: wrap; }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
	#mainNavbar .navbar-brand { font-size: 25px; }
	.navbar-toggler-icon { font-size: 12px; }
	.nav-link { font-size: 18px!important; }
	h1 { font-size: 40px!important; }
	h2 { font-size: 30px!important; }
	.lead { font-size: 20px!important; }
	#layer2 { width: 100%; }
	#layer3 { width: auto; margin-right: 12px; margin-left: 12px; margin-bottom: 30px; }
	#jumboImg { height: 350px; margin-left: 12px; margin-right: 12px; } 
	#testimonials { flex-wrap: wrap; }
	.test { height: auto; width: 450px; margin-top: 0px; margin-left: auto; margin-right: auto; margin-bottom: 30px; }
} 